.post {
  max-width: 500px;
  background-color: #ffffff;
  border: 1px solid lightgray;
  margin-bottom: 45px;
}

.post_image {
  width: 100%;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
}

.post_text {
  font-weight: normal;
  padding: 10px 20px 20px 20px;
  border-bottom: 1px solid lightgray;
}

.post_header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.post_avatar {
  margin-right: 10px;
  border-spacing: 1em;
  border: 2px solid #c51c4f;
}

.post_form {
  display: flex;
  margin-top: 10px;
}

.post_input {
  flex: 1;
  border: none;
  padding: 10px;
  border-top: 1px solid lightgray;
}

.post_button {
  flex: 0;
  border: none;
  color: #6082a3;
  background-color: transparent;
  border-top: 1px solid lightgray;
}

.post_comments {
  padding: 20px;
}

.post_timestamp {
  font-weight: lighter;
  font-size: small;
  color: gray;
}

.post_icons {
  padding: 10px;
}

.comments_list {
  color: gray;
  border-bottom: 5px;
  margin-bottom: 3px;
}

.post_comment {
  margin-left: 20px;
  margin-bottom: 3px;
}
